* {
	margin: 0;
	padding: 0;
}

body {
	background: #f2f2f2;
}

h2 {
	font-weight: normal;
}

@font-face {
			font-family: 'chunkfive';
			src: url('../fonts/chunkfive-webfont.eot');
			src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
					 url('../fonts/chunkfive-webfont.woff') format('woff'),
					 url('../fonts/chunkfive-webfont.ttf') format('truetype'),
					 url('../fonts/chunkfive-webfont.svg#chunkfive') format('svg');
			font-weight: normal;
			font-style: normal;
}

@font-face {
			font-family: 'bebas';
			src: url('../fonts/bebas___-webfont.eot');
			src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
					 url('../fonts/bebas___-webfont.woff') format('woff'),
					 url('../fonts/bebas___-webfont.ttf') format('truetype'),
					 url('../fonts/bebas___-webfont.svg#bebas') format('svg');
			font-weight: normal;
			font-style: normal;
}

/*.wrapper {
	width: 1000px;
	margin: 0 auto;
}*/

header {
	margin-bottom: 16px;
}

header a {
	display: block;
	width: 765px;
	height: 257px;
	text-align: center;
	margin: 0 auto;
}

.people {
	background: #ef685a;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.people h2 {
	font-family: 'chunkfive';
	color: #ef685a;
	font-size: 54px;
	background: url(../images/section1.png) no-repeat right;
}

.heading {
	background: #f2f2f2;
}

.inner-heading {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 76px;
}

.heading h2 {
	text-align: right;
	position: absolute;
	right: 10px;
	top: -20px;
	height: 154px;
	padding-top: 28px;
	padding-right: 190px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.graph {
	background: url(../images/graph-line.png) no-repeat 0 0;
	height: 563px;
	width: 831px;
	margin-left: 196px;
	position: relative;
	padding-bottom: 40px;
}

.container h3 {
	font-family: 'bebas';
	font-size: 54px;
	color: #fff;
	font-weight: normal;
	padding: 40px 0 70px;
	letter-spacing: 1px;
}

.circle1 {
	background: url(../images/sprite.png) no-repeat -458px -16px;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 335px;
	cursor: pointer;
	top: -13px;
}


.year1 {
	background: url(../images/sprite.png) no-repeat -357px -15px;
	width: 94px;
	height: 39px;
	position: absolute;
	left: 231px;
	top: -17px;
	display: none;
}

.percent1 {
	background: url(../images/sprite.png) no-repeat -456px 0px;
	width: 376px;
	height: 108px;
	position: absolute;
	left: 333px;
	top: -29px;
	display: none;
}

.year2 {
	background: url(../images/sprite.png) no-repeat -277px -247px;
	top: 208px;
	left: 150px;
	height: 44px;
	width: 104px;
}

.percent2 {
	background: url(../images/sprite.png) no-repeat -381px -232px;
	width: 376px;
	height: 108px;
	position: absolute;
	left: 259px;
	top: 196px;
}

.circle2 {
	background: url(../images/sprite.png) no-repeat -458px -16px;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 258px;
	top: 216px;
}


.year3 {
	background: url(../images/sprite.png) no-repeat -128px -421px;
	top: 370px;
	left: 12px;
	height: 44px;
	width: 104px;
}

.percent3 {
	background: url(../images/sprite.png) no-repeat -231px -406px;
	width: 376px;
	height: 108px;
	position: absolute;
	left: 119px;
	top: 356px;
}

.circle3 {
	background: url(../images/sprite.png) no-repeat -458px -16px;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 120px;
	top: 376px;
}

.year4{
	background: url(../images/sprite.png) no-repeat 3px -576px;
	top: 530px;
	left: -118px;
	height: 44px;
	width: 104px;
}

.percent4 {
	background: url(../images/sprite.png) no-repeat 3px -576px;
	width: 376px;
	height: 108px;
	position: absolute;
	left: -117px;
	top: 531px;
}

.circle4 {
	background: url(../images/sprite.png) no-repeat -458px -16px;
	width: 40px;
	height: 40px;
	position: absolute;
	left: -13px;
	top: 535px;
}


.technology {
	background: #18cde8;
	padding-bottom: 70px;
}

.technology h2 {
	font-family: 'chunkfive';
	color: #18cde8;
	font-size: 54px;
	background: url(../images/section2.png) no-repeat left;
}

.technology .heading {
	background: #f2f2f2;
}

.technology .inner-heading {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 76px;
}

.technology .heading h2 {
	text-align: right;
	position: absolute;
	left: 10px;
	top: -20px;
	height: 154px;
	padding-top: 28px;
	padding-left: 190px;
	text-align: left;
}

.timeline {
	background: #fff;
}

.tech {
	background: #0bc032;
	margin-bottom: 0;
}

.tech h2 {
	color: #0bc032;
	background: url(../images/section3.png) no-repeat right;
}

footer {
	background: #e8e8e8;
}


footer figure {
	text-align: center;
}